@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Tutorial Case

   Columns Style Sheet
   Author: Logan Halloran
   Date:   04.17.2018 21:10:00

   Filename:         dlr_columns.css

*/



/* Column Styles */
